div.accordion__container {
  min-width: 60vw;
  margin: 2% 0;
}

div.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

div.manual__container{
  padding: 8px;
  font-size: 1.3rem;
}