nav {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

h3 {
  color: #3f51b5;
  font-size: 1.8rem;
}

.nav-center {
  padding: 8px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-container {
  display: flex;
}

.links {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
}

.links a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #3f51b5;
  transition: all 0.5s;
}

.links a:hover {
  color: red;
}

.nav-toggle {
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.nav-toggle:hover {
  transition: 1.3s all;
  transform: rotate(90deg);
}

.column-links-container {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav-toggle {
    display: block;
  }
  .links-container {
    display: none;
  }
  .column-links-container {
    display: block;
  }
  .hide-menu {
    display: none;
  }
  .links {
    display: flex;
    flex-direction: column;
  }
}
