.user_page_container {
  display: flex;
  justify-content: center;
  min-height: 80vh;
  background-color: #e3e2df;
}

.election_list_item {
  margin: 2% 0;
}

.election_list_item_container {
  margin: 2% 0;
  min-width: 50vw;
  min-height: 18vh;
  background-color: #aaabb8;
  color: black;
  padding: 10px;
  border-radius: 10px;

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}

.candidates_container {
  margin: 2% 0;
}

.candidates_list_item_container {
  margin: 2% 0;
  min-width: 50vw;
  min-height: 8vh;
  background-color: #aaabb8;
  padding: 10px;
  border-radius: 18px;

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}
