.user_page_container {
  display: flex;
  justify-content: center;
  min-height: 80vh;
  background-color: #fff;
}

.election_list_item {
  margin: 2% 0;
}

.election_list_item_container {
  margin: 2% 0;
  min-width: 60vw;
  min-height: 18vh;
  color: black;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}

.candidates_container {
  margin: 2% 0;
}

.candidates_list_item_container {
  margin: 2% 0;
  min-width: 60vw;
  min-height: 8vh;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18), 0 1px 2px rgba(0, 0, 0, 0.24);

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .election_list_item_container {
    min-width: 90vw;
  }
  .candidates_list_item_container {
    min-width: 90vw;
  }
}
