@import './nav';
@import './footer';
@import './user_page_content';
@import './chart';
@import './special_buttons';

.container {
  width: 100%;
  min-height: 100vh;
}

.image-container {
  width: 60%;
  height: 90vh;
}

.flag-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.content-container {
  display: flex;
  background-color: #fff;
  justify-content: center;
  width: 100%;
  height: 90vh;
}

.text-container {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 10px;
  font-size: larger;
  font-weight: bold;
  word-spacing: 2px;
}
